* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.btn {
  background-color: #469165;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 12.5px 16px;
  border-radius: 4px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background: #27613f;
  transition: all 0.2s linear;
}

/* Navbar styles  */

nav {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  margin-right: 32px;
  font-weight: medium;
}

/* Hero styles  */

#hero {
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero .container {
  padding: 130px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
}

.hero-top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
}

#hero a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 20px;
}

#hero h1 {
  font-size: 68px;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
}

#hero h1 span {
  color: #469165;
}

#hero p {
  color: #fff;
  text-align: center;
  line-height: 2.4;
}
.hero-btn {
  display: flex;
  column-gap: 16px;
  margin-top: 16px;
}

.hero-btn .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;   
}

.special-btn {
  background-color: #ffffff00;
  border: 1px solid #fff;
}
